@using RealTimeWebAnalytics.Models
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>World map</h3>

  <div id="world-map" style="width: 960px; height: 640px"></div>

<h3>Visits</h3>
<ol class="round">
   @foreach (Visit visit in ViewBag.Visits)
   {
       <li>
           @visit.Timestamp.ToString("yyyy-MM-dd HH:mm:ss.fff"): @visit.Country - [@visit.IPStr]
       </li>
   }
</ol>


@section scripts { 
    <script>
        var stats =
        {
            @foreach (dynamic v in ViewBag.Stats)
            {
                @Html.Raw("\"" + v.Code + "\" : " + v.Weight + ",");
            }
        };
        $(function() {
            $('#world-map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: stats,
                        scale: ['#C8EEFF', '#0071A4'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + stats[code] + ')');
                }
            });
        });
    </script>
}
